{% extends 'base.html.twig' %}

{% block ajoutHead %}
    <script src="/public/scripts/javascript.js"></script>
{% endblock %}

{% block main %}
<h2>Nos mentions légales</h2>

    <input id="button" type="button" value="Est ce que ça marche ?"
           onclick="init()">

{% endblock %}

