{% extends 'base.html.twig' %}

{% block ajoutHead %}
    <script src="{{ asset('scripts/javascript.js') }}"></script>
{% endblock %}

{% block main %}
<h2>Nos mentions légales</h2>

    <input id="button" type="button" value="Est ce que ça marche ?"
           onclick="init()">

    <button onclick="init()">Test</button>

{% endblock %}

