body {
    font-family: Calibri, serif;
    background-color: #777799;
    display: flex;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}


/* form */
label {
    display: block;
}

input[type="text"],
textarea {
    margin-bottom: 15px;
}

