header, footer {
    display:block;
}

footer {
    position:absolute;
    text-align:center;
    bottom:0;
    width:100%;
    padding-top:50px;
    height:50px;
}

body {
    font-family: Calibri, serif;
    background-color: #777799;
}

#logoTitre, nav {
    display:flex;
}

nav {
    text-align:center;
}

a.lienNav {
    font-size: 1.5em;
    color:darkblue;
    text-transform:uppercase;
    text-decoration:none;
}

.lienNav {
    margin-right:1em;
}
/* form */
label {
    display: block;
}

input[type="text"],
textarea {
    margin-bottom: 15px;
}

