{% extends 'base.html.twig' %}

{% block body %}

{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
<h1 class="col-5">Ajouter une nouvelle idée</h1>
    <div id="formWish">

        {{ form(wish_form) }}

            </div>
        </div>
    </div>
{% endblock %}

