{% extends 'base.html.twig' %}

{% block body %}

{% endblock %}

{% block main %}
<h1>Détails</h1>
    <p>{{ wishSelect.title }}</p>
    <p>{{ wishSelect.description }}</p>
    <p>{{ wishSelect.author }}</p>
    <p>{{ wishSelect.dateCreated|date("m/d/Y H:i:s") }}</p>
{% endblock %}

