{% extends 'base.html.twig' %}

{% block body %}

{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
    <h1>Liste</h1>

    <ul>
        {% for wish in wishes %}
            <li><a href="{{ path('wish_detail', {id:wish.id}) }}">{{wish.title}}</a></li>
        {% endfor %}
    </ul>
        </div>
    </div>
{% endblock %}

