{% extends 'base.html.twig' %}

{% block body %}

{% endblock %}

{% block main %}
    <h1>Liste</h1>

    <ul>
        {% for wish in wishes %}
            <li><a href="{{ path('wish_detail', {id:wish.id}) }}">{{wish.title}}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

